exportPattern(feature.selection)
exportPattern(genomic.prediction)
exportPattern(hsic.var.ensemble)
exportPattern(hsic.var.rcv)
exportPattern(RED)
exportPattern(spam.var.ensemble)
exportPattern(spam.var.rcv)
import("gdata")
import("SAM")
import("penalized")
importFrom("stats","cor")
importFrom("stats", "lm", "sd")
importFrom("utils", "combn", "head")
